<!DOCTYPE html>
<html>
<head>
  <title>Box</title>
  <%= stylesheet_link_tag  "lti_box_engine/application", media: "all" %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>

<div class="container">
  <%= yield %>
</div>

</body>
</html>
