defaults: &defaults
  client_id: box_client_id
  client_secret: box_client_secret
  admin_username: admin
  admin_password: password

development:
  <<: *defaults

test:
  <<: *defaults

production:
  <<: *defaults